<h1><a href="/#">All</a> / {{ title }}</h1>

<form class="form">
	<div class="form-group">
		<input class="form-control" ng-model="propertyFilter" placeholder="ArrayBuffer">
	</div>
</form>

<table class="table">

	<colgroup>
		<col>
		<col ng-repeat="browser in browsers" class="{{ browser.name | lowercase }}">
	</colgroup>

	<thead>
		<tr>
			<th>Feature</th>
			<th ng-repeat="browser in browsers">
				{{ browser.name }} {{ browser.version }}
			</th>
		</tr>
	</thead>

	<tbody ng-repeat="feature in features">
		<tr ng-repeat="property in feature.properties | filter: propertyFilter">
			<td>{{ property }}</td>
			<td ng-repeat="browser in browsers">
				<i class="glyphicon glyphicon-ok" ng-if="supports( feature, browser, $parent.$index )"></i>
			</td>
		</tr>
	</tbody>

</table>