body {
	padding-top: 1em;
}
th, td {
	vertical-align: middle !important;
	border-color: rgba( 0, 0, 0, .1 ) !important;
}
th:first-child, td:first-child {
	vertical-align: top !important;
}
th, td + td {
	width: 10em;
	text-align: center;
}
tbody tr:first-child {
	background: rgba( 255, 255, 255, .75 );
}
tr:first-child td:first-child {
	font-weight: bold;
}
tr + tr {
	color: #333;
}
td:first-child code {
	margin-left: 1em;
}
td[colspan] {
	color: #999;
}
ul.notes {
	color: #333;
	margin-bottom: 0;
	font-size: .85em;
	line-height: 1.1765em;
}
.Chrome {
	color: green;
	background: #efe;
}
.IExplorer {
	color: blue;
	background: #eef;
}
.Firefox {
	color: orange;
	background: #fff7db;
}
.Opera {
	color: red;
	background: #fee;
}