tr {
  font-size: .75em;
}

thead tr:first-child,
table.index tr:first-child {
  font-size: 1em;
  font-weight: bold;
}

thead th,
tbody td {
  text-align: center;
}

thead th:first-child,
tbody td:first-child {
  text-align: left;
}

/* 
  Themes 63, 53, 21
*/

.opera {
    color: #B00;
    background-color: #FEE;
}

.safari {
    color: grey;
}

.chrome {
    color: #0B0;
    background-color: #EFE;
}

.firefox {
    color: orangered;
    background-color: #fff7db;
}

.iexplorer {
    color: #00B;
    background-color: #EEF;
}